* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* header section */
.header {
  width: 100vw;
  height: 180px;
}

.header > div {
  width: 100%;
}

.header > div > div {
  height: 100%;
  width: 1000px;
  margin: auto;
}

/* header section 1 */
.header1 {
  background-color: rgb(95, 179, 77);
  height: 16%;
  color: #fff;
  font: normal normal 11px Helvetica, Arial;
  height: 28px;
  line-height: 28px;
  text-align: right;
}

.header11 > span:hover {
  text-decoration: underline;
}

/* header section 2 */
.header2 {
  height: 68%;
  background-color: #edf1e9;
}

.header21 > div {
  width: 213px;
  color: rgb(95, 179, 77);
}

.header21 > div:first-child {
  padding-top: 5px;
}

.header21 > div:last-child {
  width: 265px;
  height: 25px;
  position: relative;
  margin-top: 8px;
}

.header21 > div:last-child > input {
  position: absolute;
  height: 100%;
  background-color: #f1f4ed;
  border: 1px solid #80808075;
  color: #bbb;
  padding: 5px 5px;
}
.header21 > div:last-child > img:last-child {
  position: absolute;
  right: 0px;
}

/* header section 3 */
.header3 {
  height: 16%;
  background-color: #edf1e9;
  border-top: 1px solid #80808075;
  border-bottom: 2px solid rgb(178, 199, 224);
}

.header31 {
  display: flex;
}

.header31 > a {
  text-decoration: none;
  height: 100%;
}
.header31 > a > div {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #93a9c3;
  font: normal 700 11px Helvetica, Arial;
  border-left: 1px solid #80808075;
  border-right: 1px solid #80808075;
}

.header31 > a > div:hover {
  color: #028cc4;
  background-color: white;
  border-bottom: none;
}
