* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}
/* header section */
.header {
  width: 100vw;
  height: 180px;
}

.header > div {
  width: 100%;
}

.header > div > div {
  height: 100%;
  width: 1000px;
  margin: auto;
}

/* header section 1 */
.header1 {
  background-color: rgb(95, 179, 77);
  height: 16%;
  color: #fff;
  font: normal normal 11px Helvetica, Arial;
  height: 28px;
  line-height: 28px;
  text-align: right;
}

.header11 > span:hover {
  text-decoration: underline;
}

/* header section 2 */
.header2 {
  height: 68%;
  background-color: #edf1e9;
}

.header21 > div {
  width: 213px;
  color: rgb(95, 179, 77);
}

.header21 > div:first-child {
  padding-top: 5px;
}

.header21 > div:last-child {
  width: 265px;
  height: 25px;
  position: relative;
  margin-top: 8px;
}

.header21 > div:last-child > input {
  position: absolute;
  height: 100%;
  background-color: #f1f4ed;
  border: 1px solid #80808075;
  color: #bbb;
  padding: 5px 5px;
}
.header21 > div:last-child > img:last-child {
  position: absolute;
  right: 0px;
}

/* header section 3 */
.header3 {
  height: 16%;
  background-color: #edf1e9;
  border-top: 1px solid #80808075;
  border-bottom: 2px solid rgb(178, 199, 224);
}

.header31 {
  display: flex;
}

.header31 > a {
  text-decoration: none;
  height: 100%;
}
.header31 > a > div {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #93a9c3;
  font: normal 700 11px Helvetica, Arial;
  border-left: 1px solid #80808075;
  border-right: 1px solid #80808075;
}

.header31 > a > div:hover {
  color: #028cc4;
  background-color: whitesmoke;
}

/* footer section..... */

.footer {
  width: 1000px;
  margin: auto;
  height: 800px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer > div {
  height: 92%;
}

/* footer left side*/
.footer_disp {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fd_0 {
  width: 20%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.fd_0 > span {
  color: #b2c8e2;
  font-size: 15px;
}

/* footer upper icons....calendar...diet...exercise */
.fd_1 {
  width: 100%;
  height: 12%;
  /* border: 1px solid black; */
}

.fd_1_divergents {
  width: 100%;
  border-color: #88a8cf;
  height: 65px;
  display: flex;
}

.fd_1_divergents > div {
  padding: 10px;
  border: 1px dotted black;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.fd_1_divergents > div > span {
  display: inline-block;
  margin-left: 10px;
}

.fd_1_divergents > div:hover {
  background-color: rgb(237, 241, 233);
}

.fd_1_divergents > div > img {
  opacity: 0.5;
}

.fd_1_divergents > div:hover > img {
  opacity: 1.1;
}

#fd_1_divergents_2 {
  position: relative;
}

/* footer main display area */
.fd_2 {
  width: 100%;
  height: 78%;
  position: relative;
}

.fd_2 > div {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#disp_feeds {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
}
.fd_21_section_heading {
  width: 100%;
  height: 65px;
  margin-bottom: 10px;
}

.fd_21_section_heading > div:first-child {
  color: #5e5e53;
  font: bold 19px Helvetica, Arial;
  margin-bottom: 0px;
  margin-top: 18px;
  text-transform: capitalize;
}

.fd_21_section_heading > div:nth-child(2) {
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  position: relative;
  width: 168px;
  margin-left: 481px;
}

.fd_21_section_heading_dropdown {
  position: absolute;
  border: 1px solid black;
  width: 155px;
  height: 102px;
  right: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.fd_21_section_heading_dropdown_item {
  width: 100%;
  text-align: left;
  z-index: 4;
}

.fd_21_section_heading_dropdown_item:hover {
  background-color: green;
}

.df_post {
  width: 92%;
  margin: 23px 0px;
  padding: 5px;
  background-color: white;
}

.df_post_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.df_post_11 {
  margin-right: 10px;
}

.df_post_11 > img {
  border-radius: 50px;
}

.df_post_12 {
  position: relative;
  width: 90%;
}

.df_post_12 > a {
  text-decoration: none;
  color: #028cc4;
  font-weight: bold;
}

.df_post_12_short_profile {
  position: absolute;
  border: 1px solid black;
  width: 372px;
  height: 164px;
  bottom: 93%;
  background-color: white;
}

.df_post_12_short_profile > div {
  width: 100%;
  border: 1px solid black;
}

.df_post_12_short_profile_1 {
  height: 80%;
  padding: 6px;
  display: flex;
  justify-content: flex-start;
}

.df_post_12_short_profile_2 {
  height: 20%;
  display: flex;
  justify-content: space-around;
}

.df_post_12_short_profile_2 > button {
  width: 40%;
  text-align: center;
}

.df_post_12_short_profile_1 > div:first-child > img {
  width: 100px;
  height: 100px;
}

.df_post_12_short_profile_1 > div:nth-child(2) {
  width: 60%;
  height: 100px;
  margin-left: 8px;
}

.df_post_2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.df_post_2 > img {
  width: 89%;
  border-radius: 5px;
}

.df_post_3 {
  width: 50%;
  margin-left: 70px;
}

.df_post_4 {
  width: 100%;
  background-color: #f6f7f8;
  padding: 0 37px;
}

.df_post_41 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  align-items: center;
}

.df_post_41_supporter1 > img,
.df_post_41_supporter2 > img {
  display: inline-block;
  height: 16px;
  margin-bottom: 2px;
  vertical-align: middle;
  width: 16px;
  background-color: grey;
  border-radius: 20px;
}

.df_post_42 {
  width: 100%;
  height: auto;
}

.df_post_42_read_comment {
  width: 100%;
  min-height: 20px;
}

.df_post_42_read_comment_1 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: inset -20px 20px 60px #ededed, inset 20px -20px 60px #ffffff;
}

.df_post_42_read_comment_1 > div:first-child > img {
  width: 33px;
  height: 33px;
  border-radius: 50px;
}
.df_post_42_read_comment_1 > div:nth-child(2) {
  width: 94%;
  margin-left: 5px;
}
.df_post_42_read_comment_1 > div:nth-child(2) > span:first-child {
  color: #028cc4;
  font-size: 18px;
}

.df_post_42_read_comment_1 > div:nth-child(2) > span:nth-child(2) {
  color: black;
  font-size: 15px;
}

.df_post_42_insert_comment {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.df_post_42_insert_comment > input {
  width: 88%;
  height: 40px;
}

.df_post_42_insert_comment > img {
  width: 44px;
  height: 40px;
  border-radius: 50px;
}

.df_post_42_post_comment {
  display: flex;
  justify-content: flex-end;
}

.df_post_42_post_comment_button_1 {
  margin-right: 8px;
}

/* Submitting a Post...in the feed */
#disp_journal {
  background-color: white;
  height: 500px;
  width: 100%;
}

.disp_forum_posts_heading {
  width: 100%;
  color: #5e5e53;
  font: bold 19px Helvetica, Arial;
  margin-top: 18px;
  padding-bottom: 18px;
  text-transform: capitalize;
  border-bottom: 1px dotted #bacfe6;
}

.disp_forum_posts_content {
  width: 100%;
  height: 80%;
  border: 1px solid #bacfe6;
  font-size: 18px;
  line-height: 14px;
  padding: 2px 0px 0px 0px;
  background-color: rgb(252, 243, 229);
}

.dfpc_input1 {
  margin-bottom: 20px;
  color: #333;
  font-family: Helvetica, Arial;
  font-size: 18px;
  font-weight: bold;
}

.dfpc_input2 {
  width: 100%;
  height: 20%;
}

.dfpc_input2 > label {
  display: inline-block;
  width: 49%;
}

.dfpc_input2 > input {
  width: 45%;
  height: 50%;
}

.dfpc_input3 {
  width: 100%;
  height: 20%;
  text-align: center;
}

.dfpc_input3 > button {
  width: 77px;
  height: 28px;
}

/* footer right side */
.footer_menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_menu > div {
  border: 1px dotted #bacfe6;
}

.footer_menu1 {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf1e9;
}

.fm1_items {
  width: 95%;
  display: flex;
  margin-top: 5px;
}

.fm1_items > span {
  display: inline-block;
  margin-top: 2px;
  width: 90%;
  cursor: pointer;
}

.fm1_items:hover {
  background-color: rgb(95, 179, 77);
}

hr.fm_lines {
  width: 100%;
  border-top: 1px dotted #bacfe6;
  margin-top: 5px;
}

.fm_headings {
  width: 95%;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}

.footer_menu2 {
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fm2_items {
  width: 95%;
  display: flex;
  margin-top: 5px;
}

.fm2_items > span {
  display: inline-block;
  margin-top: 2px;
  width: 90%;
  cursor: pointer;
}

.fm2_items:hover {
  background-color: grey;
}
